.bg-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-img {
  height: 20px;
}
.tab-list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.input-search-con {
  border: 1px solid #111111;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}
input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
button {
  margin-top: 20px;
  padding: 20px 20px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #7b8794;
}
.img-con {
  background-color: #fff;
  padding: 3% 5%;
  margin: 5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  height: 100px;
}
.bg-img-con {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.para-img {
  width: 100px;
  text-align: center;
}
